<ion-card *ngIf="job" button="true" class="job-card">
  <ion-card-header>
    <div class="header-wrapper">
      <ion-card-title>{{ job.title }}</ion-card-title>
      <ion-chip>{{ job.category }}</ion-chip>
    </div>
  </ion-card-header>

  <ion-card-content>
    <p class="description">{{ job.description }}</p>
    
    <div class="metadata">
      <div class="meta-left">
        <div class="location">
          <lucide-icon name="map-pin" size="14"></lucide-icon>
          <span>{{ job.location }}</span>
        </div>
        <div class="date">
          <lucide-icon name="calendar" size="14"></lucide-icon>
          <span>Inicia: {{ job.startDateTime | date:'dd MMM, yyyy' }}</span>
        </div>
        </div>
      <div class="price">{{ job.price | currency:'CLP':'symbol':'1.0-0' }}</div>
    </div>
  </ion-card-content>
</ion-card>