.error-message {
    text-align: left;
    padding-left: 16px;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 0.8rem;
  }
  /* Estilos para que el header sea transparente */
ion-header {
  ion-toolbar {
    --background: transparent;
  }
}