<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/welcome"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="auth-background">
  <div class="auth-container">
    <div class="auth-header">
      <div class="auth-logo">P</div>
      <h1 class="auth-app-title">Pololitos</h1>
      <p class="auth-app-subtitle">Crea tu cuenta en segundos</p>
    </div>
    <div class="auth-form-card">
      
      <h2 class="auth-form-title">Crear Cuenta</h2>

      <form [formGroup]="registerForm" (ngSubmit)="register()">
        
        <ion-item class="auth-item">
          <lucide-icon name="user" slot="start"></lucide-icon>
          <ion-input formControlName="fullName" placeholder="Nombre Completo"></ion-input>
        </ion-item>
        <ion-item class="auth-item">
          <lucide-icon name="at-sign" slot="start"></lucide-icon>
          <ion-input formControlName="username" placeholder="Nombre de usuario"></ion-input>
        </ion-item>
        <ion-item class="auth-item">
          <lucide-icon name="phone" slot="start"></lucide-icon>
          <ion-input formControlName="phoneNumber" type="tel" placeholder="Teléfono (ej: 912345678)" maxlength="9"></ion-input>
        </ion-item>
        <ion-item class="auth-item">
          <lucide-icon name="mail" slot="start"></lucide-icon>
          <ion-input formControlName="email" type="email" placeholder="Correo electrónico"></ion-input>
        </ion-item>
        <ion-item class="auth-item">
          <lucide-icon name="lock" slot="start"></lucide-icon>
          <ion-input #passwordInput formControlName="password" type="password" placeholder="Contraseña"></ion-input>
          <ion-icon #eyeIcon name="eye-outline" slot="end" (click)="togglePasswordVisibility(passwordInput, eyeIcon)"></ion-icon>
        </ion-item>
        <ion-item class="auth-item">
          <lucide-icon name="lock" slot="start"></lucide-icon>
          <ion-input #confirmPasswordInput formControlName="confirmPassword" type="password" placeholder="Confirmar contraseña"></ion-input>
          <ion-icon #confirmEyeIcon name="eye-outline" slot="end" (click)="togglePasswordVisibility(confirmPasswordInput, confirmEyeIcon)"></ion-icon>
        </ion-item>
        <ion-button type="submit" expand="block" class="main-button">
          Crear Cuenta
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>