<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" color="medium">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Editar Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()" [strong]="true" color="primary" [disabled]="editForm.invalid || isLoading">
        Guardar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="editForm" (ngSubmit)="save()">
    
    <ion-item class="input-item" lines="none">
      <ion-label position="stacked">Nombre Completo</ion-label>
      <ion-input formControlName="fullName" type="text" placeholder="Tu nombre"></ion-input>
      <ion-note slot="error" *ngIf="editForm.get('fullName')?.invalid && editForm.get('fullName')?.touched">
        El nombre es requerido (min 3 caracteres).
      </ion-note>
    </ion-item>

    <ion-item class="input-item" lines="none">
      <ion-label position="stacked">Nombre de Usuario</ion-label>
      <ion-input formControlName="username" type="text" placeholder="@usuario"></ion-input>
      <ion-note slot="error" *ngIf="editForm.get('username')?.invalid && editForm.get('username')?.touched">
        El usuario es requerido.
      </ion-note>
    </ion-item>

    <ion-item class="input-item" lines="none">
      <ion-label position="stacked">Correo Electrónico</ion-label>
      <ion-input formControlName="email" type="email" placeholder="ejemplo@correo.com"></ion-input>
      <ion-note slot="error" *ngIf="editForm.get('email')?.invalid && editForm.get('email')?.touched">
        Ingresa un correo válido.
      </ion-note>
    </ion-item>

    <ion-item class="input-item" lines="none">
      <ion-label position="stacked">Teléfono</ion-label>
      <ion-input formControlName="phoneNumber" type="tel" placeholder="+569..."></ion-input>
      <ion-note slot="error" *ngIf="editForm.get('phoneNumber')?.invalid && editForm.get('phoneNumber')?.touched">
        Número inválido.
      </ion-note>
    </ion-item>

    <div class="spinner-container" *ngIf="isLoading">
      <ion-spinner name="crescent"></ion-spinner>
    </div>

  </form>
</ion-content>