.avatar-edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 10px;

  .avatar-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    // Sombra suave para darle profundidad
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

    .avatar-img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      border: 3px solid var(--ion-color-light);
    }

    .avatar-placeholder {
      width: 100%;
      height: 100%;
      background: var(--ion-color-light);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid var(--ion-color-step-100);
    }

    .camera-icon-badge {
      position: absolute;
      bottom: 0;
      right: 0;
      background: var(--ion-color-primary);
      width: 32px;
      height: 32px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      // Borde del color de fondo para separar visualmente
      border: 2px solid var(--ion-background-color);
      z-index: 10;
    }
  }

  .change-photo-text {
    margin-top: 10px;
    font-size: 0.9rem;
    color: var(--ion-color-primary);
    font-weight: 500;
  }
}

.auth-item {
  --background: transparent;
  --padding-start: 0;
  margin-bottom: 5px;

  ion-input {
    --padding-start: 10px;
  }
  
  lucide-icon {
    color: var(--ion-color-medium);
    margin-inline-end: 8px;
  }
}

.error-msg {
  padding-left: 5px;
  margin-bottom: 15px;
  font-size: 0.8rem;
}