<ion-content [fullscreen]="true" class="welcome-page-content">

  <div class="welcome-container">

    <div class="welcome-illustration">
      <lucide-icon name="briefcase" class="welcome-icon"></lucide-icon>
    </div>

    <div class="welcome-text">
      <h1>Encuentra tu próximo "pololito"</h1>
      <p>Conecta con cientos de trabajos y servicios temporales en tu comunidad.</p>
    </div>

    <div class="welcome-actions">
      <ion-button expand="block" class="main-button" (click)="goToRegister()">
        Crear una cuenta
      </ion-button>
      
      <ion-button expand="block" fill="clear" class="link-button-bold" (click)="goToLogin()">
        Ya tengo una cuenta
      </ion-button>
    </div>

  </div>
</ion-content>