<ion-content [fullscreen]="true" class="welcome-page-content">

  <div class="welcome-container">

    <div class="welcome-illustration">
      <lucide-icon name="briefcase" class="welcome-icon"></lucide-icon>
    </div>

    <div class="welcome-text">
      <h1>Encuentra tu próximo "pololito"</h1>
      <p>Conecta con cientos de trabajos y servicios temporales en tu comunidad.</p>
    </div>
  </div>

  <div class="welcome-bottom-sheet">

    <div class="wave-svg">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill-opacity="1" d="M0,192L48,176C96,160,192,128,288,133.3C384,139,480,181,576,186.7C672,192,768,160,864,138.7C960,117,1056,107,1152,128C1248,149,1344,203,1392,229.3L1440,256L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
      </svg>
    </div>

    <div class="welcome-actions">
      <ion-button expand="block" class="main-button" (click)="goToRegister()">
        Crear una cuenta
      </ion-button>

      <ion-button expand="block" fill="clear" class="link-button-bold" (click)="goToLogin()">
        Ya tengo una cuenta
      </ion-button>
    </div>
  </div>

</ion-content>