<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-container">
    <h1>¿Olvidaste tu contraseña?</h1>
    <p>Ingresa tu correo y te enviaremos un enlace para recuperarla.</p>

    <ion-item>
      <ion-input label="Correo Electrónico" labelPlacement="stacked" type="email" placeholder="tu@correo.com"></ion-input>
    </ion-item>

    <ion-button (click)="resetPassword()" expand="block" class="submit-button">Enviar Enlace</ion-button>
  </div>
</ion-content>