<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding auth-background">
  <div class="auth-container">
    <div class="auth-form-card" [ngSwitch]="currentStep">

      <div *ngSwitchCase="'enterEmail'">
        <h1>¿Olvidaste tu contraseña?</h1>
        <p class="auth-app-subtitle" style="margin-bottom: 25px;">Ingresa tu correo para enviar un código de verificación.</p>
        <ion-item class="auth-item">
          <lucide-icon name="mail" slot="start"></lucide-icon>
          <ion-input [(ngModel)]="email" type="email" placeholder="tu@correo.com"></ion-input>
        </ion-item>
        <ion-button (click)="sendCode()" expand="block" class="main-button">
          Enviar Código
        </ion-button>
      </div>

      <div *ngSwitchCase="'enterCode'">
        <h1>Verificar Código</h1>
        <p class="auth-app-subtitle" style="margin-bottom: 25px;">Hemos enviado un código a {{ email }}.</p>
        <ion-item class="auth-item">
          <lucide-icon name="key" slot="start"></lucide-icon>
          <ion-input [(ngModel)]="verificationCode" type="tel" placeholder="Código de 4 dígitos"></ion-input>
        </ion-item>
        <ion-button (click)="verifyCode()" expand="block" class="main-button">
          Verificar
        </ion-button>
      </div>

      <div *ngSwitchCase="'enterPassword'">
        <h1>Crear Nueva Contraseña</h1>
        <p class="auth-app-subtitle" style="margin-bottom: 25px;">Ingresa una contraseña segura.</p>
        <ion-item class="auth-item">
          <lucide-icon name="lock" slot="start"></lucide-icon>
          <ion-input [(ngModel)]="newPassword" type="password" placeholder="Nueva contraseña"></ion-input>
        </ion-item>
        <ion-item class="auth-item">
          <lucide-icon name="lock" slot="start"></lucide-icon>
          <ion-input [(ngModel)]="confirmPassword" type="password" placeholder="Confirmar contraseña"></ion-input>
        </ion-item>
        <ion-button (click)="updatePassword()" expand="block" class="main-button">
          Guardar Contraseña
        </ion-button>
      </div>

    </div>
  </div>
</ion-content>
