ion-toolbar {
    --background: var(--ion-toolbar-background);
    --min-height: 70px;
    padding: 0 16px;
  }
  
  .header-content, .list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .location {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
  }
  
  .search-container {
    margin-bottom: 16px;
    
    ion-searchbar {
      --background: var(--ion-item-background);
      --border-radius: 12px;
      --box-shadow: none;
      --color: #FFFFFF;
      padding: 0;
    }
  }
  
  .list-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
  }
  
  .jobs-list {
    display: grid;
    gap: 16px;
    padding-bottom: 100px; /* Espacio para que no lo tape la tab-bar */
  }