<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Ajustes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <ion-item-divider>
      <ion-label>Cuenta</ion-label>
    </ion-item-divider>
    <ion-item>
      <lucide-icon name="bell" slot="start"></lucide-icon>
      <ion-label>Notificaciones Push</ion-label>
      <ion-toggle slot="end" [(ngModel)]="notificationsEnabled"></ion-toggle>
    </ion-item>

    <ion-item-divider>
      <ion-label>General</ion-label>
    </ion-item-divider>
    <ion-item>
      <lucide-icon name="moon" slot="start"></lucide-icon>
      <ion-label>Modo Oscuro</ion-label>
      <ion-toggle slot="end" [(ngModel)]="darkMode" (ionChange)="toggleDarkMode($event)"></ion-toggle>
    </ion-item>

    <ion-item-divider>
      <ion-label>Más Información</ion-label>
    </ion-item-divider>
    <ion-item button="true" detail="true">
      <lucide-icon name="file-text" slot="start"></lucide-icon>
      <ion-label>Términos de Servicio</ion-label>
    </ion-item>
    <ion-item button="true" detail="true">
      <lucide-icon name="shield" slot="start"></lucide-icon>
      <ion-label>Política de Privacidad</ion-label>
    </ion-item>
  </ion-list>
</ion-content>